.header{

    background: #D1D1D1;
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}

button.btn{

    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    width: 140px;
    height: 45px;
    border: none;
    color: white;
    font-weight: bold;
}

nav a{
    margin-right: 20px;
    text-decoration: none;
    color: #1E1E1E;
    font-weight: bold;
}

nav a:hover{
    color: white;
}

