.micro-info{
    background: #E8E8E8;
    width: 400px;
    border-radius: 10px;
    padding-left: 30px;
}

.microsoft{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.div-1{
    border: 1px solid gray;
    width: 350px;
}

.div-2{
    border: 1px solid gray;
    width: 350px;
}

button.apply {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
}
